<h1>About us!</h1>

<h3>Crafting Affordable Fine Dining Experiences with a Family Touch</h3>
<p>
  Welcome to Christo's Divine Dining, a labor of love that began with a shared
  passion for exceptional food and a family's determination to bring the joys of
  fine dining within everyone's reach. <br />
  We are a family-run centurion based catering service dedicated to curating
  exquisite culinary experiences without the extravagant price tag.
</p>
<h3>Our Family's Culinary Journey</h3>
<p>
  Our story traces its roots back to the kitchen of our family matriarch, Tania
  Hartzer. She was the heart and soul of our family gatherings, where her
  culinary creations turned ordinary moments into extraordinary
  <br />
  Her recipes, infused with love and tradition, are the cornerstones of our
  menu, and her spirit of hospitality guides our every endeavor.
</p>
<h3>Blending Tradition with Innovation</h3>

<p>
  At Christo's Divine Dining, we believe in honoring culinary traditions while
  exploring the boundaries of taste. <br />We are committed to sourcing only the
  finest ingredients, meticulously selecting each element that goes into
  crafting our dishes. <br />
  This commitment to quality ensures that every bite is an exquisite journey
  through flavors and textures that pay homage to our culinary heritage. Fine
  Dining That's Accessible to All We understand that the allure of fine dining
  can sometimes seem out of reach. <br />Our mission is to break down those
  barriers. Our family is dedicated to offering you an exceptional fine dining
  experience at a price that won't strain your budget. <br />
  We believe that the delight of gourmet cuisine should be enjoyed by all, and
  we've made it our mission to make that a reality.
</p>
<h3>Our Family Team</h3>
<p>
  The heart of our operation is our close-knit team of culinary enthusiasts.
  <br />
  Each member of our family and staff brings their unique skills, creativity,
  and dedication to the table. <br />Together, we work tirelessly to ensure that
  every dish we create reflects the passion and commitment that defines
  Christo's Divine Dining.
</p>
<h3>Celebrating Your Special Moments</h3>
<p>
  From corporate events to intimate gatherings and celebrations, we're here to
  turn your occasions into unforgettable experiences. <br />We collaborate
  closely with our clients to tailor menus that reflect their tastes,
  preferences, and dietary needs. <br />
  Our meticulous attention to detail, from ingredient selection to presentation,
  guarantees that each event we cater is an exceptional masterpiece.
</p>
<h3>Join Us on This Culinary Journey</h3>
<p>
  We invite you to embark on a culinary journey with Christo's Divine Dining.
  <br />
  Let us be part of your special moments, crafting memories that linger on your
  palate and in your heart. <br />
  Whether it's a grand soirée or an intimate family dinner, we pledge to provide
  a fine dining experience that will leave your taste buds delighted and your
  wallet intact. Thank you for considering us as your culinary partner. We
  eagerly anticipate the opportunity to serve you and be a part of your
  cherished memories.
</p>
<div class="container">
  <a href="/#/contact"
    ><button class="btn btn-secondary btn-lg">Get Quote!</button></a
  >
</div>
