* {
  width: 100%;
  /* margin-top: 2%; */
  /* float: inline-end; */
  /* min-height: 100%;
  heifgh */
  /* bottom: 0; */
}

div {
  text-align: left;
  bottom: 0;
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  margin-top: 3%;
}
