* {
  box-sizing: border-box;
}
.backgroundcolor {
  background-color: #282c34;
  box-shadow: 5px 5px 5px 5px #d2d1d1;
}
h2 {
  text-align: right;
  margin-top: 3%;
  margin-right: 7%;
}
body {
  margin: 0;
}
.Right {
  text-align: center;
  color: black !important;
}
.centre {
  text-align: center;

  margin-top: 5%;
}
a {
  color: black !important;
  font-weight: 900;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 500ms ease-in-out;
}

.img-wrapper:hover > img.blur {
  filter: blur(5px);
}

.img-wrapper:hover > img.zoom {
  transform: scale(1.15);
}

.img-wrapper > .content.fade {
  opacity: 0;
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
}

.img-wrapper > .content.slide-right {
  transform: translateX(100%);
}

.img-wrapper:hover > .content.slide-right {
  transform: translateX(0);
}
