<h2 [ngStyle]="{ 'text-align': centretext }">Corsair's Chef</h2>

<div class="img-wrapper backgroundcolor" [ngStyle]="{ height: width }">
  <div class="content slide-right">
    <div class="Right" [ngStyle]="{ 'font-size': fontsize }">
      <p>
        Prepare to be captivated by Corsair's Chef, a culinary virtuoso who
        turns every meal into a masterpiece, delivering a symphony of flavors
        that will leave your taste buds enchanted.
      </p>
    </div>
    <div class="centre">
      <a href="/#/corsairchef"> View More</a>
    </div>
  </div>
</div>
