#CenterNavbar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogon {
  padding-top: 4%;
}

* {
  /* background-color: aqua; */

  color: white;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #282c34;
  opacity: 0.8;
}
.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: #454545;
  opacity: 0.9;
}
.header {
  padding-bottom: 2%;
  background-image: url(../../assets/4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #454545;
  background-size: cover;
}
li a {
  color: white !important;
  font-weight: 900 !important;
}
li {
  list-style: none;
}
.animate {
  animation: slide-in 0.7s both;
}

@keyframes slide-in {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(2%);
  }
}
