<h2>Funerals</h2>

<div class="img-wrapper backgroundcolor">
  <img
    class="blur"
    src="../../../assets/BG2.jpg"
    [ngStyle]="{ height: width }"
  />
  <div class="content slide-left">
    <div class="Right">
      During times of solemn remembrance, let our compassionate catering service
      ease the burden of planning. We understand the importance of honoring your
      loved one with grace and dignity.
    </div>
    <div class="centre">
      <a href="/funeral"> View More</a>
    </div>
    <!-- <button>Click Me</button> -->
  </div>
</div>
