<h2 [ngStyle]="{ 'text-align': centretext }">Funerals Catering</h2>

<div class="img-wrapper backgroundcolor" [ngStyle]="{ height: width }">
  <div class="content slide-left" [ngStyle]="{ 'font-size': fontsize }">
    <div class="Right">
      During times of solemn remembrance, let our compassionate catering service
      ease the burden of planning.
    </div>
    <div class="centre">
      <a href="/ChristosDivineDining/#/funeral"> View More</a>
    </div>
    <!-- <button>Click Me</button> -->
  </div>
</div>
