<h2 [ngStyle]="{ 'text-align': centretext }">Cooking Classes</h2>

<div class="img-wrapper backgroundcolor" [ngStyle]="{ height: width }">
  <div class="content slide-left">
    <div class="Right" [ngStyle]="{ 'font-size': fontsize }">
      Unlock the secrets of culinary excellence with our engaging cooking
      classes, where you'll savor the joy of creating delectable dishes from
      scratch.
    </div>
    <div class="centre">
      <a href="/ChristosDivineDining/#/cookingclassess"> View More</a>
    </div>
    <!-- <button>Click Me</button> -->
  </div>
</div>
