* {
  box-sizing: border-box;

  /* text-align: right; */
}
.box {
  width: 150px;
  /* margin: 50px auto; */
  margin-bottom: 3%;
  background: #21252b;
  opacity: 0.9;
  padding: 4px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: absolute;
  z-index: 999;
}
/* .sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #21252b;
  border-top: 10px solid #21252b;

  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
} */
.Right {
  text-align: center;
  color: black !important;
}
.centre {
  text-align: center;

  margin-top: 5%;
}
a {
  color: black !important;
  font-weight: 900;
}

.backgroundcolor {
  background-color: #282c34;
  background-image: url(../../../assets/parties.jpeg);
  background-size: cover;
}

h2 {
  margin-top: 3%;
  margin-right: 7%;
}
body {
  margin: 0;
}
img {
  /* opacity: 0.2; */
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}
a {
  text-align: center !important;
}
.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 500ms ease-in-out;
}

.img-wrapper:hover > img.blur {
  filter: blur(5px);
}

.img-wrapper:hover > img.zoom {
  transform: scale(1.15);
}

.img-wrapper > .content.fade {
  opacity: 0;
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
}

.img-wrapper > .content.slide-right {
  transform: translateX(100%);
}

.img-wrapper:hover > .content.slide-right {
  transform: translateX(0);
}
