<h2>Parties</h2>

<div class="img-wrapper backgroundcolor" [ngStyle]="{ height: width }">
  <img class="blur" src="../../../assets/4.jpg" />
  <div class="content slide-right">
    <div class="Right">
      Experience unforgettable moments and create lasting memories with our
      expert party planning services, where every detail is tailored to make
      your celebration truly extraordinary
    </div>
    <div class="centre">
      <a href="/parties"> View More</a>
    </div>
  </div>
</div>
