<h2 [ngStyle]="{ 'text-align': centretext }">Party Catering</h2>
<div class="box sb4" *ngIf="showInbeginin">
  <h6 style="font-weight: 900" [ngStyle]="{ width: pronmptsize }">
    {{ tipconent }}
  </h6>
</div>

<div class="img-wrapper backgroundcolor" [ngStyle]="{ height: width }">
  <!-- <img class="blur" src="" /> -->
  <div class="content slide-right">
    <div class="Right" [ngStyle]="{ 'font-size': fontsize }">
      Experience unforgettable moments and create lasting memories with our
      expert party catering services, where every detail is tailored to make
      your celebration truly extraordinary
    </div>
    <div class="centre">
      <a href="/ChristosDivineDining/#/parties"> View More</a>
    </div>
  </div>
</div>
