<div ngSkipHydration>
  <h1>Testimonials</h1>
  <p>
    "
    <span style="font-weight: 550">
      I wanted to recommend Christo catering company that provided the food for
      my 21st birthday party. They did an amazing job! The food was delicious,
      and their presentation was top-notch. I was really impressed with their
      service, and I highly recommend them for any event. If you have a event in
      Centurion Christo should be your go-to best catering in Centurion.</span
    >" -Zak Du Plooy
  </p>
  <p>
    (Translated from Afrikaans to English) <br />
    "
    <span style="font-weight: 550"
      >CHRISTO DIVINE DINING Is definitely the name that Christo's business
      should be. His food is top notch His service is on point. I would highly
      recommend to any and all functions. I manage 2 retirement resorts and when
      I press on his button he is there with the most delicious food and
      delivery. Thank you Christo for your friendly, sincere and delicious
      service</span
    >
    " -Marita van den Berg.
  </p>
  <p>
    "<span style="font-weight: 550"
      >I can highly recommend Christo's food with the utmost confidence. I have
      had the privilege to eat (and see) it on more than one occasion and have
      always been very impressed. Not only does it always look beautiful and
      extremely appetizing, it tastes divine! He is an excellent chef, with an
      extensive knowledge of a very wide variety of cuisines and cooking styles.
      Anything from gourmet dishes to hearty homemade meals is cooked with love
      and passion. His attention to detail is remarkable. I also had the
      blessing of him handling the catering for my late husband's funeral (on a
      tight budget) and it exceeded all my wildest expectations. The food was
      excellent and everything was handled with great care and compassion. It
      was laid out beautifully and perfectly on time.</span
    >" -Diana Ventura
  </p>

  <p>
    "<span style="font-weight: 550"
      >I would like to thank Christo for his excellent service and food. He
      catered our daughter’s cohead kitchen tea and a dinner party for 8 guests
      at our home. The people still talk about how amazing the food looked and
      tasted. He went to great lengths to make sure that all allergy
      requirements were met so that everyone could enjoy themselves without
      worrying about getting sick. </span
    >–" Jana Dafel
  </p>
  <div class="container">
    <a href="/contact"
      ><button class="btn btn-secondary btn-lg">Get Quote!</button></a
    >
  </div>
</div>
